@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <h2>Create Role</h2>
        @    using (Html.BeginForm())
        { 

        <table class="table table-bordered">
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.EditorFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                <input type="submit" value="Create Role" class="btn btn-primary"/>
                    </td>
            </tr>
        </table>
        }
    </div>
</body>
</html>
