

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Syllabus</title>
</head>
<body>
    <div> 
        <h1>Member Details View</h1>
    </div>
</body>
</html>
