
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> 
        <p>Welcome,@ViewBag.UserName. Logged in as @ViewBag.Usertype</p>
        <img src="~/Images/Shlok.jpg" alt="My company logo"
             width="25%" height="10%"/>

        <a href="contact">Contact Us</a>
        
    </div>
</body>
</html>
