
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div>
        <h2>Contact us Page</h2>
        <p>Welcome,@ViewBag.UserName. Logged in as @ViewBag.Usertype</p>

        <a href="Gallary">Gallary </a>

    </div>
</body>
</html>
