

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorView</title>
</head>
<body>
    <div>
        <h2>There is an error in application</h2>
        <p>Please Contact admin@vhasshtech.com</p>
    </div>
</body>
</html>
